*{
    margin: 0px;
    padding: 0px;
}
.menus-container{
    background-color:rgb(41, 40, 40);
    padding: 20px;
    color:white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo-photo{
    width:120px;
}
.menus{
    display: flex;   
}
.item{
    margin-right: 10px;
    padding: 7px;
    font-size: 18px;
}
.item:hover{
    color:chartreuse;
    cursor: pointer;
}
.banner-img{
    width: 300px;
    
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    height: 100vh;
   /* border: 2px solid black;*/
    background-image: url("./images/background.png"),
    linear-gradient(45deg,rgb(51, 47, 47),rgb(65, 57, 57));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;;
}
.btn{
    padding: 10px 20px;
    background-color: coral;
    color: white;
    border: none;
    border-radius: 10px;

}
.btn:hover{
    color: rgb(81, 134, 35);
    cursor: pointer;
}
.about-image{
    height: 400px;
     
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px;

}
.about-title{
    text-align: center;
    padding-top: 20px;
}
summary{
  padding: 4px;
  width: 100px;
  background-color: #f3abab;
  border: none;
  box-shadow: 1px 1px 2px #f14040;
  cursor: pointer;
}
.service-container{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
.digital-art{
    height: 230px;
    width: 280px;
    border: 2px solid white;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.service-logo{
    width: 70px;;
}
.box-btn{
    background-color: gray;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}
.box-info{
    padding: 5px;
}
.abt-title{
    font-size: 30px;;
}
.abt-info{
    font-size: 20px;
}
 